[Desktop Entry]
Categories=Network;
Comment[es_ES]=Ejecuta MS Teams con el navegador Chromium
Comment=Run MS Teams with Chromium browser
Comment[ca]=Executa MS Teams amb el navegador Chromium
Comment[ca_ES.UTF-8@valencia]=Executa MS Teams amb el navegador Chromium
Comment[ca_ES@valencia]=Executa MS Teams amb el navegador Chromium
Comment[ca_ES]=Executa MS Teams amb el navegador Chromium
Encoding=UTF-8
Exec=lliurex-ms-teams
GenericName[es_ES]=lliurex-ms-teams
GenericName=lliurex-ms-trams
Icon=lliurex-ms-teams
MimeType=
Name[es_ES]=Lliurex-Microsoft-Teams
Name=Lliurex-Microsoft-Teams
Name[ca]=Lliurex-Microsoft-Teams
Name[ca_ES.UTF-8@valencia]=Lliurex-Microsoft-Teams
Name[ca_ES@valencia]=Lliurex-Microsoft-Teams
Name[ca_ES]=Lliurex-Microsoft-Teams
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=lliurex-ms-teams
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
